html{
    font-size: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    font: 2rem sans-serif;
    background: white;
    color: black;
    width: 97.611%;
    height: 97.23%;
    /*margin: 40px;*/
}

section div{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div p{
    margin: 3px;
}

/*Estilizando a lista de navegação*/
ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: pink;
}

li{
    list-style-type:none;
    padding-left: 30px;
    padding-right: 30px;
}

/*Aqui será declarado a estilizacao dos links na ordem correta para que elas não se sobreponham*/
a:link{
    color: green;
    text-decoration:none;
}

a:visited{
    color: purple;
    text-decoration: none;
}

a:hover{
    color: crimson;
    text-decoration: underline;
}

a:active {
    color: greenyellow;
    text-decoration:underline;
    background-color:#580852;
}

/*Montando o grid para melhor estilizacao da pagina de acordo com os elementos estruturais*/
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 15.4% 5% 62.5% 17.1%;
    gap: 0%;
}

.topo{
    text-align: center;
    font-size: 15px;
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 10px;
    padding-right: 10px;
}

.navegacao{
    font-size: 15px;
    grid-area: 2 / 1 / 3 / 3;
}

.principal{
    font-size: 13px;
    overflow: auto;
    text-align: justify;
    grid-area: 3 / 1 / 4 / 3;
    background-color: lightyellow;
}

.rodape{
    grid-area: 4 / 1 / 5 / 3;
}

/*Apenas um box para visualizar os limites de cada elemento do grid*/
.box{
    color: black;
    border: 3px solid black;
    /*padding: 10px*/;
}

.imagemDog{
    width: 15%;
    height: 15%;
    border: 3px solid blueviolet;
    margin: 3px;
}